{% extends 'index.html' %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/newhistoriaclinica.css' %}">
{% endblock %}

{% block titulo %}
Nueva Historia Clínica
{% endblock %}

{% block content %}
  <main>
    <div class="historia">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="seccion">
          <h4>Datos Básicos</h4>
          <div class="grid-container">
            <div class="grid-item">
              <label>Tipo de Identificación:</label>
              <select id="tipo" name="tipo" required>
                <option value="1">T.I</option>
                <option value="2" selected>C.C</option>
                <option value="3">C.E</option>
                <option value="4">C.I</option>
              </select>
            </div>
            <div class="grid-item"><label>Número de Identificación:</label><input type="number" id="numero" name="numero" placeholder="Número de identificación" value="{{ existing_user.numero|default_if_none:'' }}" required/></div>
            <div class="grid-item"><label>Nombre de Usuario:</label><input type="text" id="username" name="username" placeholder="Nombre de usuario" value="{{ existing_user.username|default_if_none:'' }}" required/></div>
            <div class="grid-item"><label>Correo:</label><input type="email" id="email" name="email" placeholder="Correo Electrónico" value="{{ existing_user.email|default_if_none:'' }}"/></div>
            <div class="grid-item"><label>Dirección:</label><input type="text" id="direccion" name="direccion" placeholder="Dirección Residencia" value="{{ existing_user.direccion|default_if_none:'' }}"/></div>
            <div class="grid-item"><label>Edad:</label><input type="number" id="edad" name="edad" placeholder="Edad" value="{{ existing_user.edad|default_if_none:'' }}"/></div>
            <div class="grid-item"><label>Ocupación:</label><input type="text" id="ocupacion" name="ocupacion" placeholder="Ocupación" value="{{ existing_user.ocupacion|default_if_none:'' }}"/></div>
            <div class="grid-item"><label>Celular:</label><input type="tel" id="celular" name="celular" placeholder="Número de celular" value="{{ existing_user.celular|default_if_none:'' }}"/></div>
            <div class="grid-item"><label>Fecha de Ingreso:</label><input type="date" id="fecha_ingreso" name="fecha_ingreso" value="{{ existing_user.fecha_ingreso|date:'Y-m-d'|default_if_none:'' }}"/></div>
            <div class="grid-item"><label>Acudiente:</label><input type="text" id="acudiente" name="acudiente" placeholder="Nombre del acudiente" value="{{ existing_user.acudiente|default_if_none:'' }}"/></div>
          </div>
        </div>
        
        <div class="seccion">
          <h4>Anamnesis</h4>
          <div class="grid-container">
            <div class="grid-item">
              <label>Tratamiento con Medicación:</label>
              <select id="tratamiento_medicacion" name="tratamiento_medicacion" required>
                <option value="1">SI</option>
                <option value="2">NO</option>
                <option value="3" selected>NO SABE</option>
              </select>
            </div>
            <div class="grid-item">
              <label>Reacciones Alérgicas:</label>
              <select id="reacciones_alergicas" name="reacciones_alergicas" required>
                <option value="1">SI</option>
                <option value="2">NO</option>
                <option value="3" selected>NO SABE</option>
              </select>
            </div>
            <div class="grid-item">
              <label>Trastorno de la Tensión Arterial:</label>
              <select id="transtorno_tension_arterial" name="transtorno_tension_arterial" required>
                <option value="1">SI</option>
                <option value="2">NO</option>
                <option value="3" selected>NO SABE</option>
              </select>
            </div>
            <div class="grid-item">
              <label>Diabetes:</label>
              <select id="diabetes" name="diabetes" required>
                <option value="1">SI</option>
                <option value="2">NO</option>
                <option value="3" selected>NO SABE</option>
              </select>
            </div>
            <div class="grid-item">
              <label>Trastornos Emocionales:</label>
              <select id="transtornos_emocionales" name="transtornos_emocionales" required>
                <option value="1">SI</option>
                <option value="2">NO</option>
                <option value="3" selected>NO SABE</option>
              </select>
            </div>
            <div class="grid-item">
              <label>Enfermedad Respiratoria:</label>
              <select id="enfermedad_respiratoria" name="enfermedad_respiratoria" required>
                <option value="1">SI</option>
                <option value="2">NO</option>
                <option value="3" selected>NO SABE</option>
              </select>
            </div>
            <div class="grid-item"><label>Otros:</label><input type="text" id="otros" name="otros" placeholder="Especifique"/></div>
          </div>
        </div>
        
        <div class="seccion">
          <h4>Rehabilitación Oral</h4>
          <div class="grid-container">
            <div class="grid-item"><label>Prótesis Dental:</label><input type="text" id="protesis_dental" name="protesis_dental" placeholder="Especifique"/></div>
            <div class="grid-item"><label>Total:</label><input type="text" id="total" name="total" placeholder="Especifique"/></div>
            <div class="grid-item"><label>Acrílico:</label><input type="text" id="acrilico" name="acrilico" placeholder="Especifique"/></div>
            <div class="grid-item"><label>Flexible:</label><input type="text" id="flexible" name="flexible" placeholder="Especifique"/></div>
            <div class="grid-item"><label>Parcial:</label><input type="text" id="parcial" name="parcial" placeholder="Especifique"/></div>
            <div class="grid-item"><label>Retenedores:</label><input type="text" id="retenedores" name="retenedores" placeholder="Especifique"/></div>
            <div class="grid-item"><label>Panorámica:</label><input type="text" id="panoramica" name="panoramica" placeholder="Especifique"/></div>
            <div class="grid-item"><label>Periapical:</label><input type="text" id="periapical" name="periapical" placeholder="Especifique"/></div>
          </div>
        </div>
        
        <div class="seccion">
          <h4>Higiene Oral</h4>
          <div class="grid-container">
            <div class="grid-item">
              <label>Cepillado Dental:</label>
              <select id="cepillado_dental" name="cepillado_dental" required>
                <option value="1">SI</option>
                <option value="2">NO</option>
              </select>
            </div>
            <div class="grid-item">
              <label>Seda Dental:</label>
              <select id="seda_dental" name="seda_dental" required>
                <option value="1">SI</option>
                <option value="2">NO</option>
              </select>
            </div>
            <div class="grid-item">
              <label>Enjuague Bucal:</label>
              <select id="enjuague_bucal" name="enjuague_bucal" required>
                <option value="1">SI</option>
                <option value="2">NO</option>
              </select>
            </div>
          </div>
        </div>

        <div class="botones">
          <button type="button" onclick="window.history.back();">Cancelar</button>
          <button type="submit">Guardar</button>
        </div>
      </form>
    </div>
  </main>
{% endblock %}

{% block extra_js %}
{% endblock %}