{% extends 'index.html' %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dashboardDoc.css' %}">
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a name="" 
            id="" 
            class="btn btn-success"  
            href="{% url 'crearhistorias' %}"
            role="button">
            Agregar Nueva Historia Clínica </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Historias Clínicas</h4>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Número de Documento</th>
                            <th scope="col">Paciente</th>
                            <th scope="col">Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for historia in historias %}
                        <tr>
                            <td>{{ historia.id }}</td>
                            <td>{{ historia.numero }}</td>
                            <td>{{ historia.username }}</td>
                            <td>
                                <a name=""
                                id=""
                                class="btn btn-info"
                                href="{% url 'verhistorias' historia.id %}"
                                role="button">Ver</a>
                            </td>
                            <td>
                                <a name=""
                                id=""
                                class="btn btn-danger"
                                href="{% url 'eliminarhistorias' historia.id %}"
                                role="button">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}