{% extends 'index.html' %}

{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboardDoc.css' %}">
{% endblock %}

{% block content %}
  <main>
    <section class="botones">
      <div class="botonesdos">
        <div class="boton1 Citas">
          <a href="{% url 'crearcitas' %}">
            <div class="boton">
              <div class="text">
                <p>NUEVA CITA</p>
                <h3>AGENDAR</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-clock"></i>
              </div>
            </div>
          </a>
          
          <a href="{% url 'listcitas' %}">
            <div class="boton">
              <div class="text">
                <p>AGENDADAS</p>
                <h3>CITAS</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-user-clock"></i>
              </div>
            </div>
          </a>
        </div>

        <div class="boton2 Fechas">
          <a href="{% url 'crearfechas' %}">
            <div class="boton">
              <div class="text">
                <p>FECHAS</p>
                <h3>AGREGAR </h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-calendar-days"></i>
              </div>
            </div>
          </a>

          <a href="{% url 'listfechas' %}">
            <div class="boton">
              <div class="text">
                <p>FECHAS</p>
                <h3>LISTA</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-list"></i>
              </div>
            </div>
          </a>
        </div>

        <div class="boton1 Cuentas">
          <a href="{% url 'crearcuentas' %}">
            <div class="boton">
              <div class="text">
                <p>CUENTA</p>
                <h3>CREAR </h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-user-plus"></i>
              </div>
            </div>
          </a>

          <a href="{% url 'listcuentas' %}">
            <div class="boton">
              <div class="text">
                <p>CUENTAS</p>
                <h3>PACIENTES</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-users"></i>
              </div>
            </div>
          </a>
        </div>

        <div class="boton2 Historias">
          <a href="{% url 'crearhistorias' %}">
            <div class="boton">
              <div class="text">
                <p>HISTORIAS</p>
                <h3>CREAR </h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-file-medical"></i>
              </div>
            </div>
          </a>

          <a href="{% url 'listhistorias' %}">
            <div class="boton">
              <div class="text">
                <p>CLINICAS</p>
                <h3>HISTORIAS</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-book-medical"></i>
              </div>
            </div>
          </a>
        </div>

        <div class="boton1 Plus">
          <a href="{% url 'listelemento' %}">
            <div class="boton">
              <div class="text">
                <h3>INVENTARIO</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-boxes-stacked"></i>
              </div>
            </div>
          </a>

          <a href="{% url 'configuracion' %}">
            <div class="boton">
              <div class="text">
                <h3>CONFIGURACIÓN</h3>
              </div>
              <hr/>
              <div class="icon">
                <i class="fa-solid fa-gear"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>

    <aside class="recordatorio">
        <div class="agenda">
          <img src="{% static 'img\calendario.jpg' %}" alt="asignacion de citas" title="asignacion de citas" height="100%" width="100%">
        </div>
        <div class="citas">
          
        </div>
    </aside>
  </main>
  {% block extra_js %}
    <script src="{% static 'js/dashboardDoc.js' %}" defer></script> 
  {% endblock %}
{% endblock %}
    
