header{
    position: relative;
    background-color: #000000;
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

header h1 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 27%;
        writing-mode: vertical-rl;
        letter-spacing: 20px;
        font-size: 30px;
        transform: rotate(0deg);
        color: #fff;
        font-weight: bold;
    }
    

header img {
    width: 8vw;
    max-width: 70px;
}

main{         
    width: 100%;
    justify-content:center;
    align-items: center;
    margin-left: calc(55% - 6.5cm);
}

.container{
    flex: 1;
    background-color: #333; 
    color: #ffffff;
    padding: 35px;
    text-align: center;
    width: 70vw;
    max-width: 70vh;
    border-radius: 10px;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    min-height: 100%;
    background: linear-gradient(rgba(5,7,12,0.3), rgba(5,7,12,0.3)), url("Fondo.jpg"), no-repeat center center fixed;
    width: 100%;
    background-size: cover;
}

h1{
    margin: 0;
    color: white;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    text-align: center;
}

h2{
    margin: 0;
    color: #c4b884;
    font-family: 'Fredoka One';
    letter-spacing: 2px;
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
    text-align:center;
}

h3{
    color: #ffffff;
}

p{
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
    font-size: clamp(1.2rem, 2.5vw, 1.3rem);
    text-align: justify;
    color:azure;
}


.buttons {
    margin-top: 20px;
    align-items: center;
}

button {
    font-size: large;
    background-color: #c8b87d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 30px; /* Bordes redondos */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

button:hover {
    background-color: #c4b884; /* Cambia el color al pasar el cursor */
}

footer{
    position: fixed; /* Fijar el pie de página */
    bottom: 0; /* Alinearlo al fondo */
    left: 0; /* Alinearlo a la izquierda */
    width: 100%; /* Ocupar todo el ancho */
    background-color: #000000; /* Color de fondo */
    padding: 10px; /* Espaciado interior */
    text-align: right; /* Alinear contenido a la derecha */
    color: #ffffff; /* Color del texto */
}
h6{
    text-align: center;
    letter-spacing: 0cap;
}

footer img {
    width: 8vw;
    max-width: 70px;
}

.contenedor1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-basis: 45%;
}

.icono-link {
    margin-top: 10px;
}

.icono-link a {
    display: inline-block;
    margin-right: 10px;
}

.icono-link img {
    width: 30px;
    height: 30px;
}



